@import "vendors/reset";

@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";


@import "./base/typography";

@import "./components/buttons";
@import "./components/images";
@import "./components/lists";
@import "./components/menu-burger";
@import "./components/slider";

@import "./layout/aside";
@import "./layout/footer";
@import "./layout/form";
@import "./layout/grid";
@import "./layout/header";
@import "./layout/main";
@import "./layout/nav";

@import "./pages/accueil";
@import "./pages/itineraire";

@import "./themes/darktheme";
