footer {
    background-image: url(/images/image6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;

    .ensemble {
        width: 80%;
        margin: auto;
    }

    .contact {
        display: flex;
        flex-direction: column;
        height: 350px;

        .head {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            margin-top: 1rem;
        }

        img {
            display: block;
            min-height: 50px;
            max-width: 50px;
            margin-left: 1rem;

        }

        ul {
            display: flex;
            gap: 20px;

        }

        a {
            color: $grisFonce;
            font-size: 1rem;
        }

        .qui-sommes-nous {
            display: flex;


            h3 {
                font-size: 1.5rem;
                padding: 1rem;
                font-family: $fontTitre;
                font-weight: 600;
            }

            p {
                color: $grisFonce;
                padding: 1rem;

            }

            .liens {
                display: flex;
                gap: 30px;

            }
        }

        .savoirPlus {
            color: $roseTrace;
            background-color: $blanc;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-family: $fontTexte;
            font-weight: bold;
            display: block;
            width: 150px;
            height: 30px;
            text-align: center;
            align-self: center;

            &:hover {
                background-color: $roseTrace;
                color: $colorTexteDarkBackground;
                transition: all 0.5s ease-in-out;
            }
        }

        .nousContacter {
                background-color: $roseTrace;
                color: $blanc;
                padding: 0.5rem 3rem;
                border-radius: 5px;
                font-family: $fontTexte;
                font-weight: bold;
                display: block;
                width: 150px;
                height: 30px;
                text-align: center;
                align-self: center;
                &:hover {
                    background-color: $buttonHover;
                    transition: all 0.5s ease-in-out;
                }
            }
        }

        .container {
            .ensemble {
                display: flex;
                justify-content: space-between;
            }

            ul {
                li {
                    padding: 0.5rem;
                }
            }

            a {
                font-family: $fontTexte;
                font-size: 1.25rem;
                color: $grisFonce;
                font-weight: bold;
                &:hover {
                    color: $roseFonce;
                    transition: all 0.5s ease-in-out;
                }
            }

            .gris {
                color: $grisMoyen;
                font-weight: 500;
                font-size: 1rem;
                &:hover {
                    color: $roseTrace;
                    transition: all 0.5s ease-in-out;
                }
            }

        }

        .accueilVélo {
            background-color: #F4F4F4;
            padding: 3rem 0;

            .ensemble {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                h3 {
                    font-family: $fontTitre;
                    font-weight: 600;
                    font-size: 1rem;
                }

                .liens {
                    display: flex;
                    gap: 30px;
                }

                .savoirPlus {
                    font-family: $fontTexte;
                    color: $grisFonce;
                    background-color: $grisTresClair;
                    border: solid 2px;
                    border-radius: 6px;
                    padding: 0.5rem 1rem;
                    width: 150px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    &:hover {
                        background-color: $roseTrace;
                        transition: all 0.5s ease-in-out;
                    }
                }

                .devenirAccueil {
                    font-family: $fontTexte;
                    color: $blanc;
                    background-color: $grisFonce;
                    border: solid 2px;
                    border-radius: 6px;
                    padding: 0.5rem 1rem;
                    width: 250px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    &:hover {
                        background-color: $buttonHover;
                        transition: all 0.5s ease-in-out;
                    }
                }

                p {
                    padding-top: 1rem;
                    color: $colorTexte;
                }
            }
        }

        .légale {
            background-color: $grisFonce;
            font-family: $fontTexte;
            padding: 1rem 0;

            .ensemble {
                display: flex;
                justify-content: space-between;
                align-items: center;

                ul {
                    display: flex;
                    gap: 20px;

                    a {
                        color: $blanc;
                        &:hover {
                            color: $roseTrace;
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }

                .end {
                    display: flex;
                    align-items: center;

                    span {
                        display: block;
                        color: $blanc;
                    }

                    a {
                        color: $blanc;
                        margin-left: 20px;
                        line-height: 0;
                    }
                }
            }
        }


    }