form {
    display: flex;

    input {
        padding-left: 1rem;
        border: none;
        border-radius: 5px;
        font-family: $fontTexte;
        &:focus {
            outline: 2px solid $inputFocus;
        }
    }

    button {
        border: none;
        border-radius: 5px;
    }
}