.grid {
        display: grid;
        // grid-template-columns: repeat(3, auto);
        grid-template-columns: repeat(auto-fill,minmax(350px,3fr));
        grid-template-rows: repeat(auto-fill,minmax(350px,3fr));
        // grid-template-rows: repeat(3, auto);        
        margin-left: 50px;
        margin-right: 50px;
        border: 2px solid blue;
        height: auto;
        width: 100%;
        column-gap: 10px;
        row-gap: 10px;
        margin: 70px;
        background-image: url(..\images\img-foret.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:auto; 
        background-repeat: no-repeat;
        object-fit: fill;
        
      > * {
        height: 300px;
        width: auto;
        background: pink;
        border-radius: 5px;
        margin: 10px;
        
    
      }

      .case1 {
        margin-top: 10px;
        
      }

    }