.grid {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 2rem 0;

  figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 250px;

    img {
      object-fit: cover;
      transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 100%;
      height: 100%;
    }

    figcaption {
      position: absolute;
      inset: 0;
      z-index: 1;
      text-shadow: 1px 1px black;
      font-weight: bold;
      font-family: $fontTitre;
      color: $blanc;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      a {
        font-weight: bold;
        font-family: $fontTitre;
        color: $blanc;
        font-size: 1.4rem;
        align-self: unset;
      }

      h3 {
        text-align: center;
      }

      a:hover {
        color: $roseFonce;
        font-family: $fontTexte;
      }

      p {
        font-family: $fontTexte;
        color: $blanc;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px black;
        inset: 0;
        font-size: 1.1rem;
      }

      i {
        position: absolute;
        color: $roseTrace;
        font-weight: bold;
        align-self: self-end;
        top: 20px;
        right: 20px;
        font-size: 1.3rem;
      }

      span {
        padding: 0.5rem;
        font-family: $fontTexte;
        background: $roseTrace;
        color: $blanc;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    figcaption:hover~img {
      transform: scale(2.5);
      backdrop-filter: blur(8px);
      filter: blur(8px);
    }
  }
}

@media screen and (max-width:391px) {
  .grid {
    grid-template-columns: 1fr;
  }
}