main {
    margin-top: 150px;

    .firstArticle {
        width: 80%;
        margin: auto;
        display: flex;

        article {
            display: flex;
            max-width: 50%;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                margin-bottom: 1rem;
            }

            img {
                padding: 2rem;
            }

            form {
                padding: 1rem;
                flex-direction: column;
                background-color: $roseTrace;

                h3 {
                    text-align: center;
                    font-family: $fontTexte;
                    color: $colorTexteDarkBackground;
                    font-size: 2rem;
                    font-weight: 600;
                }

                div {
                    padding: 0.7rem;
                }

                button {
                    width: 100%;
                    padding: 1rem;
                    background-color: black;
                    font-family: $fontTexte;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }

        #map {
            max-width: 50%;
        }
    }
}


.reservation {
    background-image: url("	/../../../images/img-nature\ .jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 770Px;

 
        h2 {
            color: rgb(255, 255, 255);
            font-weight: 800;
            font-size: 58px;
            text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.4);
            
            text-align: center;
        }   

        p {
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            font-size: 16px;
            text-align: center;
        }
        
        
        .bottom-reservation {
            display: flex;
            justify-content: space-around;
            padding-top: 100px;
            
            .image-reservation{
                background-image:url("/Users/maheydine/Documents/Eurovelo/images/img-rocher.jpeg") ;
            }
        }
        
    }




    


