main {
    padding-top: 150px;

    .firstArticle {
        width: 80%;
        margin: auto;
        display: flex;

        article {
            display: flex;
            max-width: 50%;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                margin-bottom: 1rem;
            }

            img {
                padding: 2rem;
            }

            form {
                padding: 1rem;
                flex-direction: column;
                background-color: $roseTrace;

                h3 {
                    text-align: center;
                    font-family: $fontTexte;
                    color: $colorTexteDarkBackground;
                    font-size: 2rem;
                    font-weight: 600;
                }

                div {
                    padding: 0.7rem;
                }

                button {
                    width: 100%;
                    padding: 1rem;
                    background-color: black;
                    font-family: $fontTexte;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }

        #map {
            max-width: 50%;
        }
    }
}


.reservation {
    background-image: url("	/../../../images/fond-reservation-2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 770Px;
   



    .top-reservation {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;

    }


    h2 {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 48px;
        text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    }

    p {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 16px;
    }


    .bottom-reservation {
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        height: 100%;
        

        .image-reservation {
            width: 31%;
            height: 35%;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.3s ;

            
            
        }
        .image-reservation:hover{
            transform: scale(1.05);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
            border-radius: 17px;
        }


        .titre-cellule-reserv{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 100%;  
            font-family: 'Mukta Mahee', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: white;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        }

        .info-sejour {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            position: relative;
        

                .prix-reservation{
                    background-color: #E5B9D5;
                    color: #fff;
                    font-family: 'Mukta Mahee', sans-serif;
                    padding:  5px 9px;
                    font-size: 12px;
                    font-weight: 600;
                    
                }
                
                .info-sejour-right {
                    display: flex;
                    align-items: center;
                    
                    
                    
                    .time-sejour{
                        background-color: rgb(255, 255, 255);
                        color: black;
                        font-family: 'Mukta Mahee', sans-serif;
                        padding: 5px 5px 5px 9px; 
                        
                        font-size: 12px;
                        font-weight: 600;
                    }
                    .fa-regular{
                        background-color: #fff;
                        padding: 9px 9px 9px 0px;
                        color: rgb(0, 0, 0);
                        font-size: 12px;
                        font-weight: 100;
                        
                    }
                    .fa-heart{
                        color: #fff;
                        position: absolute;
                        right: 12px;
                        font-size: 18px;
                        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

                        &:hover{
                            color: #E5B9D5;
                        }
                    }

                }
            
        }


    }

    .nature {
        background-image: url(../../images/Velodyssee-Biarritz.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .foret {
        background-image: url(../../images/velodysse-orlean.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .champ {
        background-image: url(../../images/velodyssé-rochelle.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }



}






