main {
    padding-top: 90px;

    .firstArticle {
        width: 80%;
        margin: auto;
        display: flex;
        gap: 6rem;

        article {
            display: flex;
            max-width: 50%;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                margin-bottom: 1rem;
            }

            img {
                padding: 2rem;
            }

            form {
                padding: 1rem;
                flex-direction: column;
                background-color: $roseTrace;

                h3 {
                    text-align: center;
                    font-family: $fontTexte;
                    color: $colorTexteDarkBackground;
                    font-size: 2rem;
                    font-weight: 600;
                }

                div {
                    padding: 0.7rem;
                }

                button {
                    width: 100%;
                    padding: 1rem;
                    background-color: black;
                    font-family: $fontTexte;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }

        #map {
            width: 550px;
            min-height: 940px;
        }
    }

    .HDF {
        padding: 2rem 0;

        h2 {
            font-family: $fontTitre;
            margin-bottom: 40px;
            text-align: center;
        }

        p {
            font-family: $fontTexte;
            margin-bottom: 40px;
            text-align: center;
            padding: 0 1rem;
        }
    }

    .mon-acceuil {
        padding: 2rem 0;
        margin-bottom: 50px;

        .logo-et-h2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 40px;

            h2 {
                text-align: center;
                align-self: flex-end;
                font-family: $fontTitre;
                color: $grisFonce;
            }

            img {
                align-self: center;
            }
        }

        p {
            text-align: center;
            margin-bottom: 20px;
            font-family: $fontTexte;
        }

        .tourisme {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            figure {
                position: relative;
                overflow: hidden;
                height: 220px;
                width: 150px;
                border-radius: 15px;

                img {
                    position: absolute;
                    z-index: 0;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                figcaption {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    z-index: 1;
                    text-shadow: 1px 1px black;

                    a {
                        font-weight: bold;
                        font-family: $fontTitre;
                        color: $blanc;
                        font-family: $fontTexte;
                    }

                    a:hover {
                        color: $roseFonce;
                        font-family: $fontTexte;
                    }
                }

                figcaption:hover~img {

                    transform: scale(2.5);
                    backdrop-filter: blur(8px);
                    filter: blur(8px);
                }
            }
        }
    }

    .temoignage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 1rem;
        padding: 2rem;
        background-image: url(/images/fond-reservation-2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        h2 {
            padding-top: 2rem;
            color: $blanc;
        }


        h3 {
            color: $blanc;
            font-family: $fontTitre;
            font-weight: 800;
            text-align: center;
            margin-top: 100px;
            padding: 0 1rem;
        }

        p {
            color: $blanc;
            margin-top: 25px;
            padding: 0 1rem;
        }

        .experiencePerso {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 3rem;
            margin-top: 50px;
            flex-wrap: wrap;

            figure {
                height: 300px;
                width: 400px;
                position: relative;

                i {
                    color: $blanc;
                    font-size: x-large;
                    margin-left: 350px;
                    padding: 10px;
                }

                img {
                    height: 300px;
                    width: 400px;
                    border-radius: 15px;
                }

                figcaption {
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    transition: all 0.5s ease-in;

                    &:hover {
                        backdrop-filter: blur(5px);
                        transition: all 0.5s ease-in;
                    }
                }
            }
        }

        .temoignagelien {
            a {
                background-color: #fff;
                display: block;
                width: 150px;
                color: $roseFonce;
                font-family: $fontTexte;
                font-weight: 400;
                padding: 15px;
                border: $roseFonce solid;
                border-radius: 10px;
                margin: auto;

                &:hover {
                    background-color: $roseTrace;
                    color: $colorTexteDarkBackground;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }

    .avis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

        h2 {
            font-family: $fontTitre;
            margin-bottom: 40px;
            text-align: center;
        }

        .p1 {
            font-size: 1.125rem;
            text-align: center;
        }

        .détails {
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;

            .contenu {
                padding: 25px;
            }

            article {
                background-color: $grisTresClair;
                height: 450px;
                width: 400px;

                p {
                    color: $grisMoyen;
                    margin-top: 25px;
                    margin-bottom: 25px;

                }

                .date {
                    color: $grisFonce;
                    font-family: $fontTexte;

                }

                .nom {
                    font-family: $fontTexte;
                    font-weight: 450;
                    font-size: 1.5rem;
                    margin-bottom: 25px;
                }

                .avisPersonne {
                    display: flex;
                    justify-content: space-between;
                }

                .star {
                    color: $roseTrace;
                }

                .trajet {
                    color: $blanc;
                    background-color: $roseFonce;
                    padding: 4px 9px;
                    font-family: $fontTexte;

                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    font-family: $fontTexte;
                    padding: 25px;
                }

                h3 {
                    font-family: $fontTitre;

                    font-weight: 450;
                }

                .reponse {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-family: $fontTexte;
                        color: $grisMoyen;
                    }

                    a {
                        color: $roseFonce;
                        font-family: $fontTexte;
                        font-weight: 600;
                    }
                }

            }
        }
    }

    .reservation {
        background-image: url("/images/fond-reservation-2.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        padding: 2rem 0;
        box-shadow: inset -11px -46px 50px -30px rgba(0, 0, 0, 0.36);



        .top-reservation {
            text-align: center;

            h2 {
                color: rgb(255, 255, 255);
                font-weight: 400;
                font-size: 48px;
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
                padding: 1.5rem 0;
            }


            p {
                padding: 1rem;
                color: rgb(255, 255, 255);
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                font-size: 16px;

            }

        }

        .bottom-reservation {
            display: flex;
            justify-content: space-around;
            padding-top: 100px;

            .image-reservation {
                width: 30%;
                text-align: center;
                padding: 1rem;
                min-height: 250px;
                object-fit: cover;
                border-radius: 10px;
                transition: all 0.3s;
                cursor: pointer;


            }

            .image-reservation:hover {
                transform: scale(1.05);
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                border-radius: 17px;
            }


            .titre-cellule-reserv {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70%;
                width: 100%;
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: white;
                text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

            }

            .info-sejour {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                position: relative;
            }





            .prix-reservation {
                background-color: #E5B9D5;
                color: #fff;
                font-family: 'Mukta Mahee', sans-serif;
                padding: 5px 9px;
                padding: 5px 9px;
                font-size: 12px;
                font-weight: 600;


            }


            .info-sejour-right {
                display: flex;
                align-items: center;
                background-color: #fff;



                .time-sejour {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    font-family: 'Mukta Mahee', sans-serif;
                    padding: 5px 5px 5px 9px;
                    font-size: 12px;
                    font-weight: 600;
                }



                .fa-clock {
                    background-color: #fff;
                    padding: 5px 5px 5px 1px;
                    color: rgb(0, 0, 0);
                    font-size: 12px;
                }



                .fa-heart {
                    color: #fff;
                    position: absolute;
                    right: 12px;
                    font-size: 18px;
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

                    &:hover {
                        color: #E5B9D5;
                    }
                }
            }
        }

        .nature {
            background-image: url("/images/Velodyssee-Biarritz.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .foret {
            background-image: url("/images/velodysse-orlean.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .champ {
            background-image: url("/images/velodyssé-rochelle.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }


        .btn-reservation {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            a {
                text-decoration: none;
                color: #E5B9D5;
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 18px;
                font-weight: 700;
                background-color: #ffffff;
                height: 50px;
                width: 190PX;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                transition: all 0.3s;


                &:hover {
                    background-color: #E5B9D5;
                    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
                    color: #ffff;
                    border-radius: 15px;
                    margin-top: 4px;

                }
            }
        }

    }
}

@media screen and (max-width:391px) {


    .logo-et-h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    .tourisme {
        display: flex;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .avis {
        h2 {
            font-family: $fontTitre;
            margin-bottom: 40px;
            text-align: center;
        }

        .p1 {
            width: 600px;
            margin-left: 650px;
            font-size: 1.125rem;
            text-align: center;
        }


        .détails {
            padding: 30px 200px 30px 250px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;

            .contenu {
                padding: 25px;

            }

            article {
                background-color: $grisTresClair;
                height: 450px;
                width: 400px;

                p {
                    color: $grisMoyen;
                    margin-top: 25px;
                    margin-bottom: 25px;

                }

                .date {
                    color: $grisFonce;
                    font-family: $fontTexte;

                }

                .nom {
                    font-family: $fontTexte;
                    font-weight: 450;
                    font-size: 1.5rem;
                    margin-bottom: 25px;
                }

                .avisPersonne {
                    display: flex;
                    justify-content: space-between;
                }

                .star {
                    color: $roseTrace;
                }

                .trajet {
                    color: $blanc;
                    background-color: $roseFonce;
                    padding: 4px 9px;
                    font-family: $fontTexte;

                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    font-family: $fontTexte;
                    padding: 25px;
                }

                h3 {
                    font-family: $fontTitre;

                    font-weight: 450;
                }

                .reponse {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-family: $fontTexte;
                        color: $grisMoyen;
                    }

                    a {
                        color: $roseFonce;
                        font-family: $fontTexte;
                        font-weight: 600;
                    }
                }

                .temoignage {
                    background-image: url(/images/img-rocher.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;

                    h2 {
                        color: $blanc;
                    }

                    p {
                        color: $blanc;
                    }



                }
            }
        }
    }

    @media screen and (max-width:391px) {
        main {
            .avis {
                .p1 {
                    margin-left: 1.5rem;
                    width: 80%;
                    text-align: center;
                    padding: 0px 15px 10px 15px;
                }

                .détails {
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    margin-left: 1.5rem;

                    article {
                        width: 300px;
                        height: 100%;
                    }
                }
            }



            .firstArticle {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: auto;
                align-items: center;

                img {
                    display: none;
                }

                article {
                    max-width: 100%;

                    p {
                        text-align: center;
                        padding-bottom: 1rem;
                    }
                }

                #map {
                    display: none;
                }
            }
        }

        .reservation {
            .bottom-reservation {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .image-reservation {
                    min-width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
    }

    .experiencePerso {
        display: flex;
        justify-content: space-between;

        figure {
            max-height: 300px;
            max-width: 300px;

            img {
                max-height: 300px;
                max-width: 300px;
            }
        }

    }
}