nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundNav;
    position: fixed;
    width: 100%;
    min-height: 85px;
    z-index: 10002;

    i {
        color: $roseTrace;
        font-size: 1.5rem;

        &:hover {
            color: $roseFonce;
        }
    }

    .fa-xmark {
        color: $grisFonce;
        font-size: 1.5rem;
        padding-right: 5px;
    }

    img {
        display: block;
        min-height: 50px;
        max-width: 50px;
        margin-left: 1rem;
    }

    .logoNav {
        padding: 0;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    div {
        button {
            background-color: $backgroundNav;
            margin-right: 1rem;

            &:hover {
                background-color: $backgroundNav;
                color: $buttonHover;
            }
        }
    }
}

.headerIndex{
    .navShadowIndex {
        border-top: 1px solid $grisClair;
        border-bottom: 1px solid $grisClair;
        box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
    }
}

.navShadow {
    border-top: 1px solid $grisClair;
    border-bottom: 1px solid $grisClair;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
}