#map {
  height: 100vh;
}

p {
  padding: 0.5rem;
strong {
  font-weight: 600;
  font-size: 1.5rem;
  background-color: $roseTrace;
  padding: 0 1rem;
  color: $colorTexteDarkBackground;
  font-family: $fontTitre;
  cursor: pointer;
  &:hover {
    background-color: $roseFonce;
    transition: all 0.5s ease-in-out;
}
}
}

#page_itineraire {

  .popup {
    position: absolute;
    inset: 0 50% 0 0;
    background-color: $backgroundNav;
    color: $grisFonce;
    display: none;
    z-index: 10001;
  }

  .popup.visible {
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    overflow: scroll;
  }

  .overlay {
    position: absolute;
    z-index: 10000;
    inset: 0;
    background-color: #0000006e;
    display: none;
  }

  .overlay.visible {
    display: block;
  }

  main>section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #itineraire>div {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: start;
    gap: 15px;
    background-color: $backgroundNav;
    cursor: pointer;
    padding-top: 1rem;

    h2 {
      font-size: 1.5rem;
      background-color: $roseTrace;
      font-family: $fontTitre;
      color: $colorTexteDarkBackground;
      padding: 0.5rem;
      border-radius: 15px;
      font-weight: 500;
      text-align: center;
        &:hover {
          background-color: $roseFonce;
          transition: all 0.5s ease-in-out;
        }
    }

    p {
      padding: 1rem;
      font-family: $fontTexte;
      color: $colorTexte;
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  figure {
    width: 150px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#itineraire {
  height: 100vh;
  overflow: hidden scroll;
  padding-right: 1rem;
}

@media screen and (max-width:391px) {
  #page_itineraire {
    #map {
      display: none;
    }

    main>section {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}