#page_itineraire {
    /* #map { height: 500px; 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
    } */

    main>section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}