// couleurs primaires
$bleu : #003399;
$bleuFonce : #00246b;
$jaune: #efd51f;
$gris:#a7a9ac;
$roseTrace : #e5b9d5;
$grisClair : #e7e7e7;
$grisMoyen : #585858;
$grisFonce : #231f20;
$blanc : #ffffff;
$vertDepart : #87ba61;
$rougeArrivee : #f2675e;
$roseFonce : #e56cb9;

// font
$fontTexte: 'Mukta Mahee', sans-serif;
$fontTitre: 'Poppins', sans-serif;


$backgroundNav: $blanc;

$colorTitre: $grisFonce;
$colorTexte: $grisMoyen;
$colorTexteDarkBackground: $blanc;
$button : $roseTrace;
$inputFocus : $roseTrace;
$buttonHover : $roseFonce;





