// couleurs primaires
$bleu : #003399;
$bleu-Fonce : #00246b;
$jaune: #efd51f;
$gris:#a7a9ac;
$rose-trace : #e5b9d5;

// font
$fontBodyText : 'Roboto', sans-serif ;
$fontTitle: 'Roboto Condensed', sans-serif ;








